/* import fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600&display=swap');

/*
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
*/

/* Variables */
:root {
    --red: #c54847;
    --gold: #fbad50;
    --yellow: #eace15;
    --light-blue: #32a8bf;
    --light-grey: #aaaaaa;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
