/* import fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600&display=swap');

/*
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
*/

/* Variables */
:root {
    --red: #c54847;
    --gold: #fbad50;
    --yellow: #eace15;
    --light-blue: #32a8bf;
    --light-grey: #aaaaaa;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Header*/

/* Content Area */

.grid-area {
    width: 960px;
    height: 480px;
}

.content {
    background-color: var(--red);
    border-radius: 10px;
}

.lower {
    display: flex;
    justify-content: space-evenly;
}

.lower p {
    font-family: 'Pacifico', cursive;
    margin: auto 150px;
    font-size: 200%;
    color: var(--gold);
}

.circle {
    cursor: pointer;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    border-radius: 50%;
}

/* Footer */

.footer {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

